* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    margin: 0 auto;
    max-width: 1280px;
    font-family: 'Montserrat', sans-serif;
}



section.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

section.logo img{
    width: 60%;
}


section.cardapio h2{
    text-align: center;
    font-size: 63px;
    padding-top: 63px;
}

section.cardapio img{
    width: 100%;
    margin-bottom: -15px;
}


section.redes{
    width: 100%;
    color: black;
}

section.redes p{
    font-size: 33px;
    text-align: center;
    margin-bottom: 60px;
}

section.redes div{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    justify-content: space-around;
}

section.redes a{
    color: rgb(100, 100, 100);
    font-size: 22px;
    text-decoration: none;
}

section.redes a:hover{
    color: black;
}

section.fotos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

section.fotos div{
    display: flex;
    margin: 30px;
    flex-direction: column;
}

section.fotos div{
    font-size: 22px;
}

section.fotos img{
    width: 500px;
    height: 500px;
}


@media screen and (max-width: 1024px){
    section.cardapio h2{
        font-size: 38px;
    }

    section.redes p{
        font-size: 27px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    section.redes a{
        font-size: 17px;
    }
}

@media screen and (max-width: 768px){
    section.cardapio h2{
        font-size: 24px;
    }

    section.redes p{
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    section.redes div{
        letter-spacing: 0.1em;
        align-items: center;
        flex-direction: column;
    }

    section.redes a{
        margin-bottom: 20px;
    }

    section.fotos div{
        font-size: 15px;
    }

    section.fotos img{
        width: 300px;
        height: 300px;
    }
}