* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    margin: 0 auto;
    max-width: 1280px;
    font-family: 'Montserrat', sans-serif;
}



section.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

section.logo img{
    width: 100%;
}


section.cardapio h2{
    text-align: center;
    font-size: 63px;
    padding-top: 63px;
}

section.cardapio img{
    width: 100%;
    margin-bottom: -15px;
}


section.redes{
    width: 100%;
    color: black;
}

section.redes p{
    font-size: 33px;
    text-align: center;
    margin-bottom: 60px;
}

section.redes div{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    justify-content: space-around;
}

section.redes a{
    color: black;
    font-size: 22px;
    text-decoration: none;
}


@media screen and (max-width: 1024px){
    section.redes a{
        font-size: 17px;
    }
}

@media screen and (max-width: 768px){
    section.redes a{
        font-size: 12px;
    }
}