* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    margin: 0 auto;
    max-width: 1280px;
    font-family: 'Montserrat', sans-serif;
}



section.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

section.logo img{
    width: 100%;
}


section.cardapio img{
    width: 100%;
}


section.redes{
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.redes a{
    width: 25%;
    height: 80px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    border-radius: 6px;
}

section.redes a:nth-of-type(2){
    background: rgb(14, 87, 223);
}

section.redes a:last-of-type{
    color: black;
    background: #00E676;
}



@media screen and (max-width: 1024px){
    section.redes{
        height: 240px;
        align-items: center;
    }

    section.redes a{
        width: 34%;
    }
}

@media screen and (max-width: 768px){
    section.redes{
        height: 320px;
        align-items: center;
    }

    section.redes a{
        width: 51%;
    }
}