* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    height: 100%;
    margin: 0 auto;
    max-width: 1280px;
    font-family: 'Montserrat', sans-serif;
}



section.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

section.logo img{
    width: 100%;
}


section.cardapio img{
    width: 100%;
}


section.redes{
    width: 100%;
}

section.redes{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

section.redes a{
    width: 200px;
    height: 80px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f09433;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    border-radius: 6px;
}

section.redes a:nth-of-type(2){
    background: rgb(14, 87, 223);
}

section.redes a:last-of-type{
    width: 200px;
    height: 80px;
    color: black;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00E676;
    border-radius: 2px;
}